.about{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardTitle{
    position: relative;
    display: flex;
    width: 100vw !important;
    margin-top: -150px;
}

.bgTitle{
    object-fit: cover;
    width: 100% !important;
    height: 70vh;
    box-shadow: 0 2px 20px 10px #0B280080;
}

.bgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to bottom, 
        #0b2800dd, #0b28007b, #0b280030, #0b280025, #0b280020, #0b280010
    );
}

.aTitle{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vh;
    padding-right: 2em;
    width: 100%;
    z-index: 3;
    color: #0B2800;
    font-family: 'ArchivoBlack';
    text-shadow: 1px 2px 4px #EEFFE260;
}

.aTitle h1{
    font-size: 7em;
    letter-spacing: -5px;
}

.aTitle h2{
    margin-top: -0.8em;
    font-size: 2.4em;
}

@media (max-width: 800px) {
    
    .bgTitle{   
        height: 30vh;
        object-fit: cover;
    }

    .cardTitle{
        margin-top: -300px;
    }

    .aTitle{
        margin-top: 15vh;
        padding-right: 0.5em;
    }

    .aTitle h1{
        font-size: 2em;
        letter-spacing: -2px;
    }

    .aTitle h2{
        font-size: 0.7em;
    }

}

/* ------------------ History -------------------*/

