/*Swiper*/

.swiper {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  margin-top: -80px !important;
}

.swiper-wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.swiper-slide {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.slide-content {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  display: block;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B2800;
  opacity: 0.3;
  z-index: 2;
}

@media (max-width: 500px) {
  .slide-content{
    height: 40vh;
  }
  
}

/* Comercial Section */

.comercial{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 0 2rem;
}

.btTalk{
  font-family: 'Ubuntu';
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5em;
  margin-left: 25%;
  transform: translateY(-50%);
  z-index: 10;
  position: relative;
  background-color: #0B2800;
  color: #EEFFE2;
  border-radius: 30px;
  border: none;
}

.slogan{
  font-size: 2.2rem;
  color: #0B2800;
  margin-left: 5vw;
}

.slogan-div{
  margin-left: 10vw;
}

.sub{
  margin-left: 5vw;
}

.title{
  text-shadow: 3px 3px 5px #0b280060;
}


.comercial-service{
  background-color: #0B2800;
  color: #EEFFE2;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
  border-radius: 30px;
  width: 30%;
  margin-right: 10%;
  transform: translateY(-30%);
  z-index: 10;
  position: relative;
  gap: 5px;
  box-shadow: 3px 3px 10px 5px #0b280070 ;
}

.btService{
  margin-top: 1em;
  background-color: #7FBF50;
  padding: 0.8em;
  border-radius: 20px;
  border: none;
  width: 90%;
  color: #0B2800;
  font-family: 'Ubuntu';
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 3px 3px 3px 1px #7ebf5070;
}

@media  (max-width: 1120px )  {

  .comercial{
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .btTalk{
    margin-left: 0;
  }

  .slogan{
    margin-top: -1em;
    margin-left: 0;
  }

  .comercial-service{
    width: 70%;
    transform: none;
    margin-left: 10%;
  }
  
}

@media (max-width: 500px){
  .comercial-service{
    width: 100%;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 40px;
  }

  .btService{
    width: 90%;
  }

  .btTalk{
    padding: 0.4em;
    margin-left: 5%;
    font-size: 1.5em;
    border-radius: 20px;
  }

  .slogan{
    font-size: 1.5em;
  }
}

/* Product Section */

.pData{
  background-color: #0B2800;
  padding: 0.5em 1em 3em;
  margin-top: -80px;
}

.logojm{
  height: 70px;
  width: auto;
}

.pTitle{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3em;
  color: #7FBF50;
  text-shadow: 1px 1px 3px #7FBF5070;
}

.circle-container{
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 8rem;               
  flex-wrap: wrap;         
  padding: 2rem;
}

.circle{
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px #7FBF5030;
}

.imgCircle{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid 7px #7FBF50;
  z-index: 1;
}

.pDesc{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 0.5em;
  z-index: 2;
  color: white;
  font-size: 2em;
  width: 100%;
  height: 100%;
  background-color: #7FBF5050;
  text-shadow: 2px 2px 3px #0B2800;
}

@media  (max-width: 1120px )  {

  .pData{
    margin-top: 20px;
  }

  .circle-container{
    gap: 5rem;
  }

  .circle{
    width: 250px;
    height: 250px;
  }
}

  @media (max-width:500px) {

    .logojm{
      height: 50px;
    }


    .pTitle{
      font-size: 1em;
    }
    
    .circle-container{
      gap: 2rem;
    }

    .pDesc{
      font-size: 1.6em;
    }
  }


/* Comercial Section 2 */

.comercial2{
  display: flex;
  justify-content: space-between;
  background-color: #0B2800;
}

.cDesc{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.cContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B2800;
  width: 60%;

}

.dialog{
  background-color: #EEFFE2;
  border-radius: 30px;
  width: 80%;
  font-size: 2em;
  padding: 1em 0;
  padding-left: 1em;
}

.sellDesc{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sellContainer{
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  gap: 5em;
}

.cSlogan{
  font-size: 3.5em;
  color: #EEFFE2;
}

.sellBt{
  background-color: #EEFFE2;
  color: #0B2800;
  border: none;
  border-radius: 30px;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Ubuntu';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
  padding-left: 1em;
}

.machine{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2em;
  transform: translateX(65%);
}

.mName{
  display: flex;
  background-color: #EEFFE2;
  color: #0B2800;
  border-radius: 40px;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

.truck{
  height: 100vh;
  width: 50vw;
  object-fit: cover;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

@media (max-width: 1120px){

  .comercial2{
    position: relative;
  }

  .truck{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .cDesc{
    padding: 1em;
    z-index: 100;
    width: 100%;
    gap: 3.5em;
  }

  .sellDesc{
    flex-direction: column;
  }

  .sellContainer{
    margin-left: 2em;
    align-items: center;
    gap: 2em;
  }

  .cSlogan{
    text-shadow: 1px 2px 4px #0B2800;
  }

  .sellBt{
    gap: 1em;
  }

  .machine{
    display: none;
  }
}

@media (max-width: 500px){
  .dialog{
    width: auto;
    font-size: 1.3em;
    text-align: center;
    padding: 0.8em;
  }

  .sellContainer{
    margin-left: 0;
  }

  .cSlogan{
    font-size: 2.5em;
    text-align: center;
  }

  .sellBt{
    font-size: 1.8em;
    padding: 0.3em;
    padding-left: 0.5em;
  }
}

/* Fleet Cards */

.cards{
  background-color: #0B2800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  position: relative;
  z-index: 1;
}

.pin{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #EEFFE2;
  padding: 0.3em;
  border-radius: 50%;
  border: 0.5em solid #7FBF50;
}

.pinLogo{
  width: auto;
  height: 70px;
}

.cardContainer{
  background-color: #7FBF50;
  width: 85%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
}

.textCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0B2800;
  color: #EEFFE2;
  border-radius: 30px;
}

.textCard h1{
  font-size: 5em;
  text-shadow: 2px 3px 8px #EEFFE270;
}

.textCard h2{
  font-size: 2em;
}

.fleetCard{
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

@media (max-width: 1120px) {

  .pin{
    display: none;
  }

  .cardContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .textCard{
    font-size: 0.8em;
    height: 25%;
    text-align: center;
    padding: 0.2em;
  }
}

@media (max-width:500px) {

  .fleetCard{
    height: 150px;
  }
  
  .textCard{
    font-size: 0.6em;
    height: 120px;
    letter-spacing: 1px;
  }
}

/* Work Place */

.wpLogo{
  width: 35%;
  height: auto;
  transform: translateX(-100px) translateY(-100px);
  overflow: clip;
  opacity: 0.5;
  position: absolute;
}

.workPlaceContain{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

.textContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15em;
}

.wpContainer{
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0B2800;
  padding: 3em 2em 5em 3em;
  border-radius: 30px;
  color: #EEFFE2;
  gap: 2em;
}

.wpButton{
  background-color: #EEFFE2;
  color: #0B2800;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-family: 'Ubuntu';
  font-weight: bold;
  gap: 0.3em;
  padding: 0.3em 0.5em;
  margin-left: 2.5em;
}

.wpText{
  width: 60%;
  font-size: 1.6em;
  font-weight:lighter;
  text-align: left;
}

.region{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin-top: 0.5em;
  margin-left: 4em;
  font-size: 1.2em;
}

.jmMap{
  margin-top: 1em;
  margin-left: 50%;
  position: absolute;
  width: 45%;
}

@media (max-width: 1120px) {
  .wpLogo{
    display: none;
  }

  .workPlaceContain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: auto;
    padding: 1em;
  }

  .textContainer{
    position: relative;
    width: 120%;
    height: auto;
  }

  .wpText{
    width: 70%;
    height: auto;
  }

  .region{
    width: 50%;
  }

  .jmMap{
    transform: translateY(-8%);
  }
}

@media (max-width: 800px) {
  
  .workPlaceContain{
    padding: 0;
  }

  .wpContainer{
    width: 100%;
    border-radius: 0px;
    padding: 1.5em;
  }
  
  .region{
    width: auto;
    margin: 0;
    padding: 0 1em 1em 1em;
  }

  .textContainer{
    margin: 0;
    width: 100%;
  }

  .jmMap{
    transform: translateX(8%) translateY(-15%);
  }
}

@media (max-width:500px) {
  
  .jmMap{
    transform: translateX(25%) translateY(-8%);
    width: 80%;
  }

  .wpText{
    font-size: 1.5em;
    margin-left: -0.5em;
  }

  .region{
    padding: 0.2em;
    font-size: 1em;
    border: solid 0.2em #0B2800;
    border-radius: 10px;
    margin: 0.2em;
  }
  .wpButton{
    margin-left: 0;
  }
}

/* Ending */

.ending{
  background-color: #0B2800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.eCard{
  background-color: #7FBF50;
  padding: 1em 3em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.eText{
  font-size: 2.8em;
  color: #0B2800;
}

.eTalk{
  font-family: 'Ubuntu';
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5em;
  background-color: #0B2800;
  color: #EEFFE2;
  border-radius: 30px;
  border: none;
}

@media (max-width: 800px) {
  
  .eCard{
    width: 100%;
    flex-direction: column;
    gap: 1em;
  }

  .eText{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
  }

  .eTalk{
    width: 90%;
    font-size: 1.5em;
    padding: 0.5em 0em;
    gap: 0.3em;
  }
}