.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #0B2800;
    box-shadow: 0 2px 5px #0B2800;
    padding: 2rem;
    z-index: 100;
}

.logo{
    position: absolute;
}

#logojm{
    width: auto;
    height: 50px;
}

.headerNav{
    position: absolute;
    right: 15%;
    display: flex;
    width: 50%;
    gap: 2rem;
}

.link{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3rem;
    transition: all 0.5s;
    color: #EEFFE2;
}

.link:hover{
    color: #7FBF50;
}

/* ---------------------- Transparent Nav. -------------------- */

.navbar.transparent{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    z-index: 100;
}


.logo.transparent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEFFE290;
    padding: 0.1em;
    border-radius: 50%;
}

/* ------------------ Button Menu (Responsive) --------------------- */

@media (max-width: 1020px) {
    
    .menuBt{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 2em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.2em;
        gap: 0.5em;
        transition: all 0.3s ease;
    }

    .line{
        display: block;
        width: 100%;
        height: 0.3em;
        background-color: #EEFFE2;
        border-radius: 30px;
        transition: all 0.3s ease;
    }

    /*----- menuOpen -----*/

    .menuBt.open{
        background-color: #EEFFE2;
        border: 0.2em solid #0B2800;
        border-radius: 50%;
    }

    .menuBt.open .line1 {
        transform: rotate(45deg) translate(5px, 4px);
        background-color: #0B2800;

    }

    .menuBt.open .line2 {
        transform: rotate(-45deg) translate(5px, -5px);
        background-color: #0B2800;
    }

    .headerNav{
        display: none;
    }

    .link{
        text-align: center;
        color: #0B2800;
        border-bottom: 0.2em solid #0B2800;
        border-radius: 4px;
        padding: 0.8em;
    }

    .link:last-child{
        border-bottom: none;
    }

    .showMenu{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        top: 62px;
        right: 0;
        background: #EEFFE2;
        border: 0.2em solid #0B2800;
        gap: 0;
        padding: 0 1em;
    }
}

@media (max-width: 500px) {
    .showMenu{
        width: 100%;
    }
}